@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root{
    --main-bg:#f8fafc;
    --main-text-color:#475569;
    --main-border-color:#0f172a;
    --main-hover-color:#cbd5e1;
    --main-hover-button-foreground:#334155;
    --main-button-foreground:#1e293b;
    --main-button-background:#34d399;
    --main-separator-color:#cbd5e1;
}

html{
    height: auto !important;
}

body{
    position: relative;
    margin: 0;
    height: 100%;
    font-family: "Open Sans",sans-serif;
    overflow: hidden;
}

#container{
    display: flex;
    flex-direction: row;
    margin: 0;
    position: relative;
    width:100%;
    height: 100%;
    color: var(--main-text-color);
}

#sidebar{
    position: relative;
    width:300px;
    background-color:var(--main-bg);
    height: 100%;
    height:100vh;
    border-right: 3px solid var(--main-border-color);
    padding:20px;
    box-shadow: 4px 4px 4px 4px var(--main-bg);
}

button{
    border: 0.5px solid var(--main-border-color);
    background-color: var(--main-button-background);
    color:var(--main-button-foreground);
    padding: 12px 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: all ease-in-out 0.5s;
    box-shadow: inset var(--main-button-background) 2px 2px 2px 2px;
}

#current_user{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: fit-content;
}

#current_user *{
    display: inline-block;
    position: relative;
    margin:1px;
    padding:0px;
    text-transform: capitalize;
}

#current_user .username{
    font-weight:bold;
}

#current_user .title{
    font-style: oblique;
    font-size: medium;
    font-weight: 300;
    text-transform: capitalize;
}

#sidebar_header{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.sidebar_link{
    display: block;
    position: relative;
    padding-left: 8px;
    font-weight: 700;
    text-decoration: none;
    color: var(--main-text-color);
}

.active{
    border-left: solid 2px var(--main-text-color);
}

.sidebar_link:hover{
    position: relative;
    cursor: pointer;
    color: var(--main-border-color);
    padding-top: 4px;
    padding-bottom: 4px;
    border-left:2px solid var(--main-border-color);
    transition: all ease-in 0.2s;
}

#content{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color:var(--main-bg);
    padding:50px 0;
    overflow-y: auto;
}

#add_employee_form,#edit_employee_form{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 90%;
    border-radius: 8px;
    height: fit-content;
    padding:16px 28px;
    justify-content: flex-start;
    border: 2px solid var(--main-separator-color);
    box-shadow: 1px 2px 3px 1px var(--main-separator-color);
}

.input_container{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    margin-bottom: 12px;
}

.group{
    display: flex;
    position: relative;
    justify-content: space-between;
}

#add_employee_form h2,#edit_employee_form h2{
    margin-bottom: 28px;
}

#add_employee_form h2,#edit_employee_form h2,.input_container label{
    text-transform: capitalize;
    padding-bottom: 3px;
    font-weight: 400;
    color: var(--main-text-color);
    font-weight: bold;
}

.input_container input,.input_container select{
    padding: 12px;
    margin-bottom: 12px;
    font-weight: 400;
    border: 1px solid #E8F0FE;
    background-color:#E8F0FE;
    box-shadow: 1px 2px 3px 1px #E8F0FE;
    color: var(--main-text-color);
    border-radius: 4px;
    outline: none;
}

.input_container select,.input_container select option{
    text-transform: uppercase;
}

.group button{
    width: 100%;
}

.group *:first-child{
    margin-right: 24px;
}

.form_actions{
    margin-top: 24px;
}

.secondary{
    background-color:var(--main-bg);
    box-shadow: none;
    border: 1px solid var(--main-border-color);
}

.delete_employee,.edit_employee{
    display: flex;
    align-items: center;
    justify-content: center;
    color:var(--main-button-foreground);
    background-color: var(--main-button-background);
    border: 0.5px solid var(--main-border-color);
    padding:12px 16px;
    border-radius: 4px;
    cursor: pointer;
    height: fit-content;
    width: 100%;
    text-align: center;
}

.edit_employee{
    margin-bottom: 8px;
}

.delete_employee{
    color:var(--main-button-foreground);
    background-color:var(--main-bg);
}

.employee_details{
    text-align: left;
 }

.employee_details *{
    margin:0;
    margin-bottom: 2px;
}

.employee_details_card{
    width: 300px;
    height: fit-content;
    border: 1px solid var(--main-separator-color);
    padding: 18px 32px;
    border-radius: 8px;
    box-shadow: 1px 2px 3px 1px var(--main-separator-color);
}

.card_group{
    margin-bottom: 16px;
    padding-top: 16px;
    border-top: 4px double var(--main-separator-color);
}

.card_group *{
    margin:0px;
    margin-bottom: 4px;
}

.card_actions{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-bottom: 16px;
}

.card_actions a:first-child{
    margin-right: 12px;
}

.my_grid{
    display: grid;
    margin: 0 auto;
    position: relative;
    width: 90%;
    gap:40px 30px;
    grid-template-columns:repeat(3,1fr);
}