<!-- input container -->
<section>
	<label for="phone_number" class="capitalize">phone number</label>
	<div
		class="relative flex border border-slate-200 bg-slate-900 items-center w-fit rounded flex-wrap">
		<span
			class="block relative px-2 border-r-2 font-extralight h-full border-slate-100"
			>+254</span
		>
		<input
			type="tel"
			id="phone_number"
			name="phone_number"
			pattern="\([0-9]{3}\) [0-9]{2}-[0-9]{4}"
			placeholder="(712) 34-5678"
			class="ring-0 border-0 outline-none bg-transparent" />
	</div>
</section>
